<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>All access - Laser Airlines</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./css/estilos.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.bundle.min.js">
    
    </head>
    <body class="bglogin"> 
<div th:action="@{/}" method="post" class="py-5" id="servicios">
    <div class="container">
        <div class="row bg-dark animate-in-down">
            <div class="p-4 col-md-6 align-self-center text-color">
                <p class="m-0">Entre más millas Laser, más posibilidades de ganar</p>
                <h2>¡Viaja y gana! con Laser Airlines</h2>
                <p class="my-4">Traslado, estadía y actividades en destinos como las espectaculares murallas María, Rose y Sina, es el premio al que podrán optar las personas que visiten a diario nuestro sitio web. Sorteos cada Domingo a las 17:30hrs por Chrunchyroll.</p> 
                <a role="button" class="btn mb-3 p-2 btn-light placeicon"  href="servicioturismo" >&#xf0ac; &nbsp;Servicio de Turismo</a>
                <a role="button" class="btn mb-3 p-2 btn-light placeicon"  href="serviciopremium" >&#xf005; &nbsp;Servicio Premium</a>                              
	            </div>
		            <div class="p-0 col-md-6">
	                    <div class="carousel slide" data-ride="carousel" id="carousel1">
                            <div class="carousel-item active"> <img class="d-block img-fluid w-100" src="./img/isla.jpg" data-holder-rendered="true">
                            
                           </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
    </body>
</html>
